html {
    background-color: rgba(27, 38, 54, 1);
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

#app div {
    border: 1px solid white;
    box-sizing: border-box;
}

#mailboxesColumn {
    width: 20%;
}

#messagesColumn {
    width: 30%;
    height: 100%;
    overflow-y: auto;
}

#messageColumn {
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

h4 {
    margin: 0;
    padding-top: 20px;
}
